<IfModule mod_authz_core.c>
  <Files "contact_log.json">
    Require all denied
  </Files>
</IfModule>
<IfModule !mod_authz_core.c>
  <Files "contact_log.json">
    Order allow,deny
    Deny from all
  </Files>
</IfModule>
